.formList {
  list-style: none;
  margin: auto;
}

.formList li + li {
  margin-top: 16px;
}

.buttonSubmitWrap {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.formList li input {
  width: 100%;
  padding: 8px;
}

.buttonSubmit {
  cursor: pointer;
  background-color: #325288;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  padding: 8px;
}