.header {
  background-color: #79b4b7;
  padding: 16px 8px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

.logoutButton {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  padding: 4px;
}