.thumbnailList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.thumbnailList li {
  margin: 8px 8px 0 0;
}

.thumbnailList li img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}